
1. Test classes must be inherited from AbstractTest, if there are spring beans are involved in tests logic
2. If it's a unit test, then it's not necessary to be inherited from AbstractTest
3. All required beans must be Autowired in AbstractTest
4. Test naming strategy: when_methodName_condition_then_result
5. For controller validation use @ParametrizedTest
6. For every endpoint must be one e2e test, with:
    - wiremock if necessary
    - prepared db data via sql scripts and @Sql annotation, before inserts there are must be table truncate
    - if anything changes in test, it must be annotated with @Transactional

